
@model IEnumerable<string>
@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <h3>Images</h3>
    @{
        foreach (var item in Model)
        {
            var src = "/Images/" + item;
            <img src="@src" runat="server" />            
        }
    }
</div>
<div class="container">
    <h3>Upload an image</h3>
    <form id="upload-form">
        <label for="file-input">Select an image:</label>
        <input type="file" id="file-input" name="file" />
        <button type="submit" class="btn btn-secondary">Upload</button>
    </form>
    <textarea id="file-contents"></textarea>
</div>
