
@model IEnumerable<string>
@{
    ViewData["Title"] = "Home";
}
<div id="stored-images-container" class="container">
    <h3>Images</h3>
    @{
        foreach (var path in Model)
        {
            var src = "/Images/" + path;
            <img class="stored-image" src="@src" alt="Stored image" runat="server" />            
        }
    }
</div>
<div id="image-upload-container" class="container">
    <h3>Upload an image</h3>
    <form id="upload-form">
        <label for="file-input">Select an image:</label>
        <input type="file" id="file-input" name="file" />
        <button type="submit" class="btn btn-secondary">Upload</button>
    </form>
    <textarea id="file-contents"></textarea>
</div>
